.App {

}

.example-enter {
    opacity: 0.01;
    transform: rotateZ(45deg);
    transform-origin: center bottom;
}

.example-enter.example-enter-active {
    opacity: 1;
    transform: rotateZ(0deg);
    transition: 500ms ease-in;
    transform-origin: center bottom;
}

.example-leave {
    opacity: 1;
    transform: rotateZ(0deg);
    transform-origin: center bottom;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transform: rotateZ(-45deg);
    transition: 300ms ease-in;
    transform-origin: center bottom;
}

.progress {
    position: fixed !important;
    top: 0;
    width: 100%;
}
