.CounterCard {
    position: absolute;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 30px;
}

.CounterCard-media {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.CounterCard-number {
    text-align: center;
}

.CounterCard-answer {
    text-align: center;
}

#answer {
    text-align: center;
}

/*
.example-enter .CounterCard {
    background: green;
}

.example-leave .CounterCard {
    background: red;
}
*/
